# Assignment no. 3 - Hypothesis Testing

### 1.Hypothesis testing - Cutlets

In [1]:
import pandas as pd
import scipy as Stats

In [2]:
data=pd.read_csv('Cutlets.csv')

In [3]:
data.describe()

          Unit A     Unit B
count  35.000000  35.000000
mean    7.019091   6.964297
std     0.288408   0.343401
min     6.437600   6.038000
25%     6.831500   6.753600
50%     6.943800   6.939900
75%     7.280550   7.195000
max     7.516900   7.545900

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Unit A  35 non-null     float64
 1   Unit B  35 non-null     float64
dtypes: float64(2)
memory usage: 688.0 bytes

In [5]:
A=data['Unit A']

In [6]:
B=data['Unit B']

In [7]:
from scipy.stats import stats
_,p_value=stats.ttest_ind(a=A, b=B)
p_value

0.4722394724599501

In [8]:
if p_value < 0.05:
    print('We are rejecting null hypothesis')
else:
    print('We are accepting null hypothesis')
    ## put ( _ )underscore before p_value so it will treat p values as float not string 0.05 is float 
## so it will campare both values

We are accepting null hypothesis

In [9]:
# Result = There is no significant difference in the diameter of the cutlet between two units